/* Styling the navigation bar */
body {
  background-color: rgb(207, 183, 183);
}

.navbar {
  background-color: #aa7f7f; 
} 

/* Style the list inside the navigation bar */
.navbar ul {
  margin: 0;
  padding: 0;
}

/* Style the list items */
.navbar li {
  display: inline-block; /* Display items horizontally */
}

/* .navbar ul{
  display: flex;   //հորիզոնական դասավորելու ուրիշ տարբերակ
  gap: 12px;
} */

/* Style the links */
.navbar a {
  display: block;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  color: white; /* Text color */
}

